# Ignore all content in the data directory
/data/*
# Do not ignore the empty placeholder file so that the directory is tracked
!/data/.dataplaceholder

# ignore settings
.vscode

# ignore example code folders
/example

# ignore compiled
__pycache__
.pytest_cache

# Ignore macOS
.DS_Store

# Ignore database
*.db

# Ignore dotenv
.env.*
# Keep the template
!.env.template